body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
input[type="radio"] {
	display: none;
	&:not(:disabled) ~ label {
		cursor: pointer;
	}
	&:disabled ~ label {
		color: hsla(150, 5%, 75%, 1);
		border-color: hsla(150, 5%, 75%, 1);
		box-shadow: none;
		cursor: not-allowed;
	}
}
label {
	height: 100%;
	display: block;
	background: white;
	border: 2px solid hsla(150, 75%, 50%, 1);
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 1rem;
	//margin: 1rem;
	text-align: center;
	box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
	position: relative;
}
input[type="radio"]:checked + label{
	background: hsla(150, 75%, 50%, 1);
	color: hsla(215, 0%, 100%, 1);
	box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
	
}
input[type="radio"]#control_05:checked + label {
	background: red;
	border-color: red;
}
p {
	font-weight: 900;
}
.footer{
  background-color: grey;
  position:sticky;
  bottom: 0;
}
h5.title{
  background-color: grey;
  color:black;
}